<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel = "stylesheet" type="text/css"/>
    <link rel="FaviconIcon" href="favicon.ico" type="assets/nodejs">

    <meta charset="utf-8" http-equiv="refresh" content="5">
    <title>IoT2040</title>
    <!-- 引入 echarts.js -->
     <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
  </head>


  <body style="height: 100%; margin: 0">

    <h1>基于云平台的工业物联网设备监测系统</h1>
    <br></br>

    <!-- <ul>
      <% data.humidity_data.forEach(function(item){%>
        <li><%= item %></li>
      <%});%>
    </ul> -->
    <form id = "contact-form">
      <label for = "Who">温度</label>
      <input type="text" name = "who" value="<%= data.history_temp[0] %>">
      <label for = "Who">时间</label>
      <input type="text" name = "who" value="<%= data.temp_data[0] %>">
      <br></br>
      <label for="department">湿度</label>
      <input type="text" name="department" value="<%= data.history_humidity[0] %>">
      <label for = "Who">时间</label>
      <input type="text" name = "who" value="<%= data.humidity_data[0] %>">

    </form>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

      <br></br>
          <br></br>

         <div id="container" style="width: 600px;height:400px;"></div>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
         <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>


         <script type="text/javascript">



        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        var time = <%- JSON.stringify(data.temp_data)%>;

        option = null;
        option = {
            xAxis: {
                type: 'category',
                data:time
            },
            yAxis: {
                type: 'value',
                name: '温度',
                axisLabel: {
                    formatter: '{value} °C'
                }
            },
            series: [{
                data: [<%=data.history_temp %>],
                type: 'line'
            }],
            title: {
             left: 'center',
             text: '历史温度',
         }
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
         </script>

         <div id="humidity" style="width: 600px;height:400px;"></div>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
         <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
         <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
         <script type="text/javascript">



          var dom = document.getElementById("humidity");
          var myChart = echarts.init(dom);
          var app = {};
          var time = <%- JSON.stringify(data.humidity_data)%>;

          option = null;
          option = {
              xAxis: {
                  type: 'category',
                  data:time
              },
              yAxis: {
                  type: 'value',
                  name: '湿度',
                  axisLabel: {
                      formatter: '{value} %'
                  }
              },
              series: [{
                  data: [<%=data.history_humidity %>],
                  type: 'line'
              }],
              title: {
               left: 'center',
               text: '历史湿度',

           }
          };

          if (option && typeof option === "object") {
              myChart.setOption(option, true);
          }
         </script>





         <div id="status" style="width: 600px;height:400px;"></div>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
               <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
               <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
               <script type="text/javascript">
        var dom = document.getElementById("status");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: 'pin13 状态'
            },
            tooltip: {
                trigger: 'axis'
            },

            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },

            xAxis: {
                type: 'category',
                data: <%- JSON.stringify(data.status_data)%>
            },
            yAxis: {
                type: 'value'
            },
            series: [


                {
                    name:'LED灯状态',
                    type:'line',
                    step: 'end',
                    data:[<%=data.status %>]
                }
            ]
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
               </script>




     </body>
</html>
